@model IEnumerable<SoundBeats.Core.Domain.RegistroVentas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTerceroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTerceroNavigation.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegistroVenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegistroVenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistroVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
